@import './variable.scss';
html,body,div,h1,h2,h3,h4,p,ul,li,input{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  font: $fs-de Arial,"Microsoft Yahei";
}
a{
  color: inherit;
  text-decoration: none;
}
input,input:focus{
  border: 0;
  outline: none;
  border-radius: 0;
}
ul,li{
  list-style: none;
}
div{
  background-color: red;
}