@import './variable.scss';
html,body,div,h1,h2,h3,h4,p,ul,li,input{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  outline: none;
}
input,input:focus{
  border: 0;
  outline: none;
  border-radius: 0;
}
ul,li{
  list-style: none;
}